Couples/cap4.mp4
Ilhas do Triangulo/Curta Metragem.mp4
Teatro/Esperando Diana/Celso Cleto - Esperando Diana no Portugal no Coração (480p).mp4
Teatro/tudo bem/Tudo Bem.mp4
Teatro/Vou levar-te comigo/VOU LEVAR-TE COMIGO - Loures.mp4
Teatro/Vou levar-te comigo/Entrevista a José Raposo, Vera Mónica e Diana Nicolau (1080p).mp4
